.roadmap {
  text-align: center;
  padding: 80px 20px;
}

.roadmap-title {
  font-size: 2.5rem;
  color: #b388ff;
  text-shadow: 0 0 10px #7a5cff;
}

.roadmap-subtitle {
  color: #7dd3fc;
  margin-bottom: 60px;
}

.timeline {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.lab-node {
  width: 140px;
  height: 140px;
  border-radius: 20px;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  backdrop-filter: blur(10px);
  border: 1px solid #7a5cff55;
  background: #0f0f1a;
  transition: 0.3s;
}

.lab-node span {
  color: #c4b5fd;
  font-size: 1.2rem;
}

.lab-node small {
  color: #7dd3fc;
}

.lab-node:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px #7a5cff;
}

/* estados */

.completed {
  border: 1px solid #7dd3fc;
}

.active {
  border: 1px solid #b388ff;
  box-shadow: 0 0 15px #b388ff55;
}

.locked {
  opacity: 0.3;
  pointer-events: none;
}
